
bin/Debug/net6.0/project-b.deps.json
bin/Debug/net6.0/project-b.dll
bin/Debug/net6.0/project-b.exe
bin/Debug/net6.0/project-b.pdb
bin/Debug/net6.0/project-b.runtimeconfig.json
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/project-b.assets.cache
obj/Debug/net6.0/project-b.csproj.AssemblyReference.cache
obj/Debug/net6.0/project-b.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/project-b.csproj.FileListAbsolute.txt
obj/Debug/net6.0/project-b.dll
obj/Debug/net6.0/project-b.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/project-b.genruntimeconfig.cache
obj/Debug/net6.0/project-b.pdb
obj/Debug/net6.0/ref/project-b.dll
obj/Debug/net6.0/refint/project-b.dll
obj/project-b.csproj.nuget.dgspec.json
obj/project-b.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/project-b.assets.cache
obj/Debug/net6.0/project-b.csproj.AssemblyReference.cache
obj/Debug/net6.0/project-b.GeneratedMSBuildEditorConfig.editorconfig
obj/project-b.csproj.nuget.dgspec.json
obj/project-b.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj
bin