
obj/Debug/net6.0/project-b.assets.cache
obj/Debug/net6.0/project-b.csproj.AssemblyReference.cache
obj/Debug/net6.0/project-b.GeneratedMSBuildEditorConfig.editorconfig
.vscode/tasks.json
.vscode/launch.json
